/*----------CERCLES----------*/
@-webkit-keyframes spinny {
    0% {
        -webkit-transform: rotate(0deg) scale(1) transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(45deg) scale(1.1);
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@-moz-keyframes spinny {
    0% {
        -moz-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(45deg) scale(1.1);
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        -moz-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@-o-keyframes spinny {
    0% {
        -o-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -o-transform: rotate(45deg) scale(1.1);
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        -o-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@-ms-keyframes spinny {
    0% {
        -ms-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    50% {
        -ms-transform: rotate(45deg) scale(1.1);
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        -ms-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/*----------FIN DES CERCLES----------*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
