* {
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    color: #112d4e;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: normal;
    font-size: 6rem;
    text-align: center;
    margin: 100px 0;
    font-family: 'Bungee', cursive;
    color: #3f72af;
}

h2 {
    text-align: center;
    font-weight: lighter;
    margin: 30px 250px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.25rem;
    margin: 60px 0;
    color: #3f72af;
}

i {
    margin: 0 10px;
}

br {
    line-height: 25px;
}

img {
  max-width: 100%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexboxreal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rond {
    width: 200px;
    height: 200px;
    margin: 20px 40px;
    border-radius: 50%;
    position: relative;
}

.rond:after, .rond:before {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.rond-1:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #dbe2ef;
    border-bottom-color: #dbe2ef;
    animation: spinny 2s linear infinite;
    -webkit-animation: spinny 2s linear infinite;
    -moz-animation: spinny 2s linear infinite;
    -o-animation: spinny 2s linear infinite;
    -ms-animation: spinny 2s linear infinite;
}

#logogene {
    background-image: url('../img/logogene.png');
}

#logohand {
    background-image: url('../img/logohand.png');
}

#logoreal {
    background-image: url('../img/logoreal.png');
}

#logovimeo {
    background-image: url('../img/logovimeo.png');
}

.description {
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
}

#moi {
    text-align: center;
    margin: 10px 220px;
}

#cv a {
    text-decoration: none;
    color: #3f72af;
}

#boutoncv {
    border: 1px solid #3f72af;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
}

#boutoncv:hover {
    background-color: #dbe2ef;
}

#competences {
    flex-direction: column;
}

.colored {
    font-size: 4rem;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #3f72af;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

.fa-2x {
    margin: 0 10px;
    transition: 1s;
}

.fa-2x:hover {
    transform: rotate(360deg);
}


/*----------FORMULAIRE----------*/

form {
    width: 50%;
}

.descform {
    text-align: center;
}

#zonetexte {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

input[type=text] {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #112d4e;
    outline: none;
}

input[type=text]:hover {
    background-color: rgb(241, 241, 241);
}

input[type=submit] {
    margin: 0 auto;
}

textarea {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #112d4e;
    outline: none;
    resize: none;
}

#envoyer {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    padding: 10px 10px;
    text-transform: uppercase;
}

#envoyer:hover {
    background-color: #e7e7e7;
}

#reals img {
  width: 90%;
}

#retour, a {
  text-decoration: none;
  color: #3f72af;
}

#retour {
  border: 1px solid #3f72af;
  border-radius: 10px;
  padding: 10px;;
  transition: 0.3s;
  margin: 20px 0;
}

#retour:hover {
    background-color: #dbe2ef;
}

/*----------MEDIA QUERIES----------*/

@media (max-width:768px) {
    h1 {
        font-size: 5rem;
        font-family: 'Patrick Hand SC', cursive;
    }
    h2 {
        margin: 30px 30px;
    }
    h3 {
        font-weight: lighter;
    }
    i {
        margin: 0 3px;
    }
    .colored {
        font-size: 2rem;
    }
    #moi {
        margin: 10px 50px
    }
    form {
        width: 80%;
    }
    input[type=text] {
        padding: 20px 20px;
    }
    textarea {
        padding: 20px 20px;
    }
    footer {
        flex-direction: column;
        padding: 15px 30px;
    }
    .fa-2x {
        margin: 10px 10px;
    }
}

@media (max-width:992px and min-width:768px) {
    form {
        width: 80%;
    }
}

@media (max-width:1200px and min-width:992px) {}
