<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/navbar.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="css/anim.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guillaume Veyrat</title>
</head>

<body>

    <h1 id="accueil">Mes<br>Travaux</h1>

    <section id="reals" class="flexboxreal">

        <h2>Mon premier site CV avec Bootstrap</h2>

        <img src="img/test.png" alt="test">

        <h2>Mon deuxième site CV sans framework</h2>

        <img src="img/test.png" alt="test">

        <h2>Tout un tas de logos</h2>

        <img src="img/test.png" alt="test">

        <a href="gveyrat.16mb.com"><p id="retour">Retour au site principal</p></a>

    </section>

</body>

</html>
